doctype html
html(lang='en', ng-app='app')
  head
    meta(charset='utf-8')
    meta(name="format-detection", content="telephone=no")
    meta(name="msapplication-tap-highlight", content="no")
    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    meta(name="viewport", content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name='description', content='A semantic browser based on points of interests and written in PhoneGap.')
    meta(name='author', content='Francesco Möller')
    title(ng-bind-template='{{pageTitle}}')
    link(rel='stylesheet', href='css/app.css')
    //-script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    //if lte IE 7
      script(src='http://cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js')
    //if lte IE 8
      script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')
    script.
      window.brunch = window.brunch || {};
      window.brunch['auto-reload'] = {
        enabled: true
      };
    script(src='js/vendor.js')
    script(src='js/partials.js')
    script(src='js/app.js')
  body(ng-controller='AppCtrl')
    .container
      .row
        .list-group.col-xs-12.col-sm-6.col-md-4
          a.list-group-item.active(style="height:100px")
            .col-xs-3(style="padding:0px;text-align:center")
              img(height="70px", max-width="70px", src="http://www.historisches-chemnitz.de/altchemnitz/mauerntuerme/roterturm/roterturm.jpg")
            .col-xs-9
              h4.list-group-item-heading Roter Turm
              p.list-group-item-text Neumarkt 2, 09111 Chemnitz
              p.list-group-item-text(style="font-size:11px;margin-top:5px") Altes Gebäude, Stadtmauer, Wahrzeichen
            .clearfix
          a.list-group-item(style="height:100px")
            .col-xs-3(style="padding:0px;text-align:center")
              img(height="70px", width="70px", src="http://ymtram.mashke.org/germany/chemnitz/photos/chemnitz11400.jpg")
            .col-xs-9
              h4.list-group-item-heading Zentralhaltestelle
              p.list-group-item-text Am Rathaus 1
              p.list-group-item-text(style="font-size:11px;margin-top:5px") Haltestelle, Nahverkehr
            .clearfix
          a.list-group-item(style="height:100px")
            .col-xs-3(style="padding:0px;text-align:center")
              img(height="70px", width="70px", src="http://assets2.restaurant-kritik.de/system/photos/001/288/078/IMG_8788_premium.JPG?1390146584")
            .col-xs-9
              h4.list-group-item-heading Ratskeller
              p.list-group-item-text Markt 1, 09111 Chemnitz
              p.list-group-item-text(style="font-size:11px;margin-top:5px") Essen, Restaurant, Rathaus, Deutsche Küche
            .clearfix
          a.list-group-item(style="height:100px")
            .col-xs-3
              img.img-thumbnail(heigh="80px", max-width="80px", src="testthumb")
            .col-xs-9
              h4.list-group-item-heading Headline
              p.list-group-item-text Adresse
              p.list-group-item-text(style="font-size:11px;margin-top:5px") Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.
            .clearfix
        .list-group.col-xs-12.col-sm-6.col-md-4
          a.list-group-item(style="height:100px")
            .col-xs-3
              img.img-thumbnail(heigh="80px", max-width="80px", src="testthumb")
            .col-xs-9
              h4.list-group-item-heading Headline
              p.list-group-item-text Adresse
              p.list-group-item-text(style="font-size:11px;margin-top:5px") Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.
            .clearfix
          a.list-group-item(style="height:100px")
            .col-xs-3
              img.img-thumbnail(heigh="80px", max-width="80px", src="testthumb")
            .col-xs-9
              h4.list-group-item-heading Headline
              p.list-group-item-text Adresse
              p.list-group-item-text(style="font-size:11px;margin-top:5px") Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.
            .clearfix
          a.list-group-item(style="height:100px")
            .col-xs-3
              img.img-thumbnail(heigh="80px", max-width="80px", src="testthumb")
            .col-xs-9
              h4.list-group-item-heading Headline
              p.list-group-item-text Adresse
              p.list-group-item-text(style="font-size:11px;margin-top:5px") Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.
            .clearfix
          a.list-group-item(style="height:100px")
            .col-xs-3
              img.img-thumbnail(heigh="80px", max-width="80px", src="testthumb")
            .col-xs-9
              h4.list-group-item-heading Headline
              p.list-group-item-text Adresse
              p.list-group-item-text(style="font-size:11px;margin-top:5px") Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.
            .clearfix
        .list-group.col-xs-12.col-sm-6.col-md-4
          a.list-group-item(style="height:100px")
            .col-xs-3
              img.img-thumbnail(heigh="80px", max-width="80px", src="testthumb")
            .col-xs-9
              h4.list-group-item-heading Headline
              p.list-group-item-text Adresse
              p.list-group-item-text(style="font-size:11px;margin-top:5px") Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.
            .clearfix
          a.list-group-item(style="height:100px")
            .col-xs-3
              img.img-thumbnail(heigh="80px", max-width="80px", src="testthumb")
            .col-xs-9
              h4.list-group-item-heading Headline
              p.list-group-item-text Adresse
              p.list-group-item-text(style="font-size:11px;margin-top:5px") Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.
            .clearfix
          a.list-group-item(style="height:100px")
            .col-xs-3
              img.img-thumbnail(heigh="80px", max-width="80px", src="testthumb")
            .col-xs-9
              h4.list-group-item-heading Headline
              p.list-group-item-text Adresse
              p.list-group-item-text(style="font-size:11px;margin-top:5px") Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.
            .clearfix
          a.list-group-item(style="height:100px")
            .col-xs-3
              img.img-thumbnail(heigh="80px", max-width="80px", src="testthumb")
            .col-xs-9
              h4.list-group-item-heading Headline
              p.list-group-item-text Adresse
              p.list-group-item-text(style="font-size:11px;margin-top:5px") Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.
            .clearfix
        .list-group.col-xs-12.col-sm-6.col-md-4
          a.list-group-item(style="height:100px")
            .col-xs-3
              img.img-thumbnail(heigh="80px", max-width="80px", src="testthumb")
            .col-xs-9
              h4.list-group-item-heading Headline
              p.list-group-item-text Adresse
              p.list-group-item-text(style="font-size:11px;margin-top:5px") Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.
            .clearfix
          a.list-group-item(style="height:100px")
            .col-xs-3
              img.img-thumbnail(heigh="80px", max-width="80px", src="testthumb")
            .col-xs-9
              h4.list-group-item-heading Headline
              p.list-group-item-text Adresse
              p.list-group-item-text(style="font-size:11px;margin-top:5px") Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.
            .clearfix
          a.list-group-item(style="height:100px")
            .col-xs-3
              img.img-thumbnail(heigh="80px", max-width="80px", src="testthumb")
            .col-xs-9
              h4.list-group-item-heading Headline
              p.list-group-item-text Adresse
              p.list-group-item-text(style="font-size:11px;margin-top:5px") Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.
            .clearfix
          a.list-group-item(style="height:100px")
            .col-xs-3
              img.img-thumbnail(heigh="80px", max-width="80px", src="testthumb")
            .col-xs-9
              h4.list-group-item-heading Headline
              p.list-group-item-text Adresse
              p.list-group-item-text(style="font-size:11px;margin-top:5px") Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.
            .clearfix
          a.list-group-item(style="height:100px")
            .col-xs-3
              img.img-thumbnail(heigh="80px", max-width="80px", src="testthumb")
            .col-xs-9
              h4.list-group-item-heading Headline
              p.list-group-item-text Adresse
              p.list-group-item-text(style="font-size:11px;margin-top:5px") Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.
            .clearfix